.App {
  text-align: center;
}

.App-logo {
  display: flex;
}

.App-title{
  text-align: center;
  color: #484848;
}
.App-header {
  background-color: #E0E0E0;
  min-height: 5vh;
  color: black;
  font-size: calc(5px + 1vmin);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center
}
.menu-hamburger{
  background-color: #E0E0E0;
  width: 60px;
  height: 60px;
  bottom: 25px;
  right: 25px;
}
.hamburger{
  position: relative;
  display: block;
  background-color: #000;
  width: 30px;
  height: 2px;
  top: 30px;
  left: 15px;
}
.hamburger::before,
.hamburger::after {
  background-color: #000;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;

}
.hamburger::before{
  top: -10px;
}
.hamburger::after{
  bottom: -10px;
}

